<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SwarzMan_attack1L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 4}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 174}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack1R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 4}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 0}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack2L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 4}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 58}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack2R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 4}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 0}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack3L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 10}, {40, 50}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{40, 50}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 112}, {40, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack3R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {40, 50}}</string>
			<key>spriteOffset</key>
			<string>{-5, -5}</string>
			<key>spriteSize</key>
			<string>{40, 50}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{211, 164}, {40, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack4L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 20}, {50, 40}}</string>
			<key>spriteOffset</key>
			<string>{11, -10}</string>
			<key>spriteSize</key>
			<string>{50, 40}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 216}, {50, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack4R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {50, 40}}</string>
			<key>spriteOffset</key>
			<string>{-11, -10}</string>
			<key>spriteSize</key>
			<string>{50, 40}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 134}, {50, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack5L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {44, 48}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{44, 48}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 150}, {44, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack5R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {44, 48}}</string>
			<key>spriteOffset</key>
			<string>{-3, -6}</string>
			<key>spriteSize</key>
			<string>{44, 48}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 100}, {44, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack6L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {46, 54}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{46, 54}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 0}, {46, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack6R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {46, 54}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{46, 54}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 56}, {46, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack7L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {34, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{34, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {34, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack7R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {34, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{34, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 120}, {34, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack8L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {42, 58}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{42, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 60}, {42, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack8R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {42, 58}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{42, 58}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {42, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack9L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{-11, -6}</string>
			<key>spriteSize</key>
			<string>{50, 48}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 0}, {50, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_attack9R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 12}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{11, -6}</string>
			<key>spriteSize</key>
			<string>{50, 48}</string>
			<key>spriteSourceSize</key>
			<string>{72, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 50}, {50, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move1L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{36, 178}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move1R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 58}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move2L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{36, 120}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move2R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 116}, {28, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move3L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 116}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move3R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 0}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move4L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 58}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move4R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 58}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move5L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 116}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move5R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 174}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move6L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 116}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move6R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 174}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move7L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 0}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move7R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 174}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move8L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 54}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{26, 54}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 0}, {26, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SwarzMan_move8R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {26, 54}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{26, 54}</string>
			<key>spriteSourceSize</key>
			<string>{28, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 56}, {26, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill1L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 1}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{13, 2}</string>
			<key>spriteSize</key>
			<string>{38, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 200}, {38, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill1R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 1}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{6, 2}</string>
			<key>spriteSize</key>
			<string>{38, 44}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 0}, {38, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill2L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 3}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{10, 1}</string>
			<key>spriteSize</key>
			<string>{38, 42}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 46}, {38, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill2R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{-10, 1}</string>
			<key>spriteSize</key>
			<string>{38, 42}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 90}, {38, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill3L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{7, -5}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 176}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill3R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 12}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{-6, -5}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 214}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill4L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {62, 26}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{62, 26}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {62, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cute_kill4R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 22}, {62, 26}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{62, 26}</string>
			<key>spriteSourceSize</key>
			<string>{64, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 224}, {62, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swarzman_freeze1L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 54}</string>
			<key>spriteSourceSize</key>
			<string>{29, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 112}, {29, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>swarzman_freeze1R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 54}</string>
			<key>spriteSourceSize</key>
			<string>{29, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 168}, {29, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>swordman</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>swordman_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>swordman_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>