<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>tank</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -31.00000,10.50000 }</string>	
								<string>{ -16.75000,11.25000 }</string>	
								<string>{ 9.75000,8.50000 }</string>	
								<string>{ 4.00000,-15.50000 }</string>	
								<string>{ -3.00000,-16.25000 }</string>	
								<string>{ -32.50000,-1.50000 }</string>	
								<string>{ -39.00000,4.50000 }</string>
							</array>
							<array>	
								<string>{ 9.75000,8.50000 }</string>	
								<string>{ -16.75000,11.25000 }</string>	
								<string>{ -15.50000,19.50000 }</string>	
								<string>{ -11.50000,23.50000 }</string>	
								<string>{ 9.50000,23.50000 }</string>
							</array>
							<array>	
								<string>{ 11.00000,-23.50000 }</string>	
								<string>{ 4.00000,-15.50000 }</string>	
								<string>{ 9.75000,8.50000 }</string>	
								<string>{ 30.75000,8.75000 }</string>	
								<string>{ 38.00000,2.50000 }</string>	
								<string>{ 39.00000,-10.50000 }</string>	
								<string>{ 31.00000,-22.50000 }</string>
							</array>
							<array>	
								<string>{ -36.50000,-6.50000 }</string>	
								<string>{ -32.50000,-1.50000 }</string>	
								<string>{ -3.00000,-16.25000 }</string>	
								<string>{ -13.00000,-23.50000 }</string>	
								<string>{ -30.00000,-22.50000 }</string>	
								<string>{ -36.00000,-17.50000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




